name: CI

on:
  push:
    branches: [ feat/* ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x, 22.x]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'true'
        token: ${{ secrets.GITHUB_TOKEN }}
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - name: Build custom Docker image
      run: docker build -t hardhat-testnet contracts/eth-dev-node/.
    - name: Install dependencies
      run: npm install
    - name: Build
      run: npm run build --if-present
    - name: Run tests
      run: npm run test
